@import "variable.module";

html,
body {
  padding: 0;
  margin: 0;
  /* 드래그 방지 */
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
  font-family: -apple-system,  nanum_regular, nanum_bold, nanum_light, lv1_regular, lv1_bold, lv1_light, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-break: keep-all;
  text-align: center;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
}

html[data-theme="light"] {
  --fontColor: black;
  --backgroundColor: white;
  --redColor: #FF0F0F;
  --greyColor: #E6E6E6;
}

html[data-theme="dark"] {
  --fontColor: white;
  --backgroundColor: #121212;
  --redColor: #FF0F0F;
  --greyColor: rgba(255, 255, 255, 0.2);
  //--redColor: #B00020;
}

@font-face {
  font-family: "lv1_regular";
  src: url("/fonts/lv1_regular.woff");
}

@font-face {
  font-family: "lv1_bold";
  src: url("/fonts/lv1_bold.woff");
}

@font-face {
  font-family: "lv1_light";
  src: url("/fonts/lv1_light.woff");
}

@font-face {
  font-family: "nanum_regular";
  src: url("/fonts/nanum_regular.woff");
}
@font-face {
  font-family: "nanum_bold";
  src: url("/fonts/nanum_bold.woff");
}
@font-face {
  font-family: "nanum_light";
  src: url("/fonts/nanum_light.woff");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
