@import "variable.module";

.innerContainer {
  max-width: 800px;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}

.container {
  width: 100vw;
  //height: 100vh;
  min-height: 100vh;
  transition: 0.3s $animation background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
}

@mixin mixin__goNextButton($active: true) {
  display: block;
  width: 90%;
  padding: 10px 15px;
  margin: 30px auto 0;
  color: white;
  border: solid 0;
  border-radius: $border-radius;
  font-size: 20px;
  transition: 0.3s $animation background-color;

  @if $active {
    background-color: $active-color;
    cursor: pointer;
  }
  @else {
    background-color: $inactive-color;
    cursor: not-allowed;
  }
}

@mixin mixin__mode() {
  display: inline-block;
  padding: 10px;
}

.darkMode {
  @include mixin__mode();
  background-color: $default-black;
  color: $default-white;
}

.lightMode {
  @include mixin__mode();
  background-color: white;
  color: black;
}

.goNextButton {
  @include mixin__goNextButton();

  &__disabled {
    @include mixin__goNextButton(false)
  }
}

.emoji {
  font-size: $emoji-size;
  margin-bottom: 10px;
}

.stepIndicator {
  max-width: 80%;
  width: 300px;
  height: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
}

@mixin mixin__stepIndicator__element() {
  height: 100%;
  transition: 0.3s $animation all;
}

.stepIndicator__element {
  @include mixin__stepIndicator__element();
  background-color: var(--greyColor);
}

.stepIndicator__element__active {
  @include mixin__stepIndicator__element();
  background-color: var(--fontColor);
}

.description {
  font-size: $description-font-size;
}
