@import "variable.module";

@mixin mixin__wordCell($font, $fontsize: 20px, $selcted: false) {
  font-family: $font;
  font-size: $fontsize;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  color: var(--fontColor);
  padding: 10px 20px;
  border: solid 2px;
  margin: 10px 20px;
  @if $selcted {
    border-color: $active-color;
  }
  @else {
    border-color: var(--backgroundColor);
  }
}

.wordCell__light {
  @include mixin__wordCell(nanum_light);

  &__isSelected {
    @include mixin__wordCell(nanum_light, 20px, true);
  }
}

.wordCell__regular {
  @include mixin__wordCell(nanum_regular);

  &__isSelected {
    @include mixin__wordCell(nanum_regular, 20px, true);
  }
}

.wordCell__bold {
  @include mixin__wordCell(nanum_bold);

  &__isSelected {
    @include mixin__wordCell(nanum_bold, 20px, true);
  }
}

.description {
  font-size: 24px;
}

.questionText {
  font-size: 22px;
  line-height: 1.5;
}

.questionText__strong {
  color: $active-color;
  font-weight: bold;
}

@mixin mixin__wordGroup() {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@mixin mixin__wordGroup__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  //gap: 10px 30px;
}

.wordGroup {
  @include mixin__wordGroup();
  //@include mixin__wordGroup__grid();

  &__ready {
    @include mixin__wordGroup();
    //@include mixin__wordGroup__grid();
    filter: blur(10px);
  }
}

@mixin mixin__warningText($fontColor) {
  width: 90%;
  color: $fontColor;
  text-align: right;
  margin: 20px 0 -20px;
  transition: 0.3s $animation color;
}

.warningText__active {
  @include mixin__warningText(var(--redColor));
}

.warningText__inactive {
  @include mixin__warningText(var(--backgroundColor));
}

.startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 20px;
  padding: 10px 20px;
  background-color: $active-color;
  border: 0;
  border-radius: $border-radius;
  color: white;
}

.questionContainer__withTimer {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.timer {
  position: absolute;
  right: 10px;
  color: var(--redColor);
  font-size: 18px;
}

.tmpBold {
  font-family: nanum_bold, serif;
  font-size: 50px;
  font-weight: bold;
}

.tmpRegular {
  font-family: nanum_regular, serif;
  font-size: 50px;
}
.tmpLight {
  font-family: nanum_light, serif;
  font-size: 50px;
  font-weight: 100;
}
