$default-black: #121212;
$default-white: white;
$active-color: #0064FF;
$inactive-color: #C9E2FF;
$warning-color: #FF0F0F;
//$light-active-color: #0070F3;
//$light-active-color: #FFD635;

$dark-mode-font-color: #AAAAAA;
$light-mode-font-color: black;

$lv-bold: lv1_bold;
$lv-regular: lv1_regular;
$lv-light: lv1_light;
$nanum-bold: nanum_bold;
$nanum-regular: nanum-regular;
$nanum-light: nanum-light;

$large-font-size: 43px;
$border-radius: 5px;

$emoji-size: 50px;
$description-font-size: 22px;

$animation: cubic-bezier(0.165, 0.84, 0.44, 1);

